{
    "presets": ["@babel/preset-env", "@babel/preset-react"],
    "plugins": [
      ["module-resolver", {
        "root": ["./src"],
        "alias": {
          "components": "./src/components",
          "helpers": "./src/helpers",
          "pages": "./src/pages",
          "styles": "./src/styles",
          "tailwind" : "./src/tailwind.config.js"
          // Add other aliases as needed
        }
      }] ,
      "babel-plugin-macros",
      ["babel-plugin-styled-components", { "ssr": true }]
    ]
  }
  
  